exportPattern("^[[:alpha:]]+")
useDynLib(iregnet)
importFrom(Rcpp, sourceCpp)

importFrom("ggplot2", "geom_line", "ggplot", "aes_string", "xlab", "ylab")
importFrom("methods", "cbind2")
importFrom("utils", "head")

importFrom("survival", "Surv")

S3method("coef", "iregnet")
S3method("print", "iregnet")
S3method("predict", "iregnet")
S3method("plot", "iregnet")
